html{
font-family: "Playfair Display SC",serif;
}
h1{
    font-size:3rem;
}
.center{
    text-align: center
}
.description{
    width: 50%;
    margin: 0 auto;
}
#header{
    background-color: rgb(36, 55, 67);
    color:white;
}
