html{
font-family: "Playfair Display SC",serif;
}
h1{
    font-size:3rem;
}
h2{
   color: #df464d;
}
.date{
    font-size: 3rem;
  color: #fff;
  font-weight: 400;
}
.center{
    text-align: center
}
.description{
    width:50%;
}
