html{
    font-family: "Playfair Display SC",serif;
}
body{
    background: url(http://i.imgur.com/i3OA2PJ.jpg) !important;
}
h1{
    font-size:3rem;
}
.center{
    text-align: center;
    margin: 25px;
}
.description{
    width: 50%;
    margin: 0 auto;
}
#header{
    background-color: rgb(36, 55, 67);
    color:white;
}
