.timeline:before{
  background: rgba(0,255,255, 0.5);
}
#hometown{
  background-image:url(https://farm4.staticflickr.com/3202/3020529233_b5841361cb_b.jpg);
}
#guatemala{
  background-image:url(https://farm6.staticflickr.com/5556/15122145861_18c9b9a4a0_c.jpg);
}
#work{
  background-image:url(https://c1.staticflickr.com/5/4064/4559242976_0216675176_b.jpg);
}
#startup{
  background-image:url(https://farm7.staticflickr.com/6106/6293319822_b17360b169_b.jpg);
}
.timeline{
	background-image:url(https://farm4.staticflickr.com/3202/3020529233_b5841361cb_b.jpg)
	,url(https://farm6.staticflickr.com/5556/15122145861_18c9b9a4a0_c.jpg)
	,url(https://c1.staticflickr.com/5/4064/4559242976_0216675176_b.jpg)
	,url(https://farm7.staticflickr.com/6106/6293319822_b17360b169_b.jpg);
}
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(https://avatars1.githubusercontent.com/u/11800064?v=3&s=460) no-repeat;
}
