<aside class="col-xs-12 col-md-4">
	<div class="cp-sidebar">
		{{> widget-contacts}}
		{{!> widget-editorspick}}
		{{> widget-facebook}}
		{{> widget-podcasts}}
		{{> widget-sidebarad}}
	</div>
</aside>