<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Your Host</h5></span>
	<div class="cp-contacts">
		<p>I’m Eli Diaz, a digital consultant and javascript developer. <a href="/about">More about me.</a></p>
		<p class="sidebar-phone"><i class="fa fa-phone"></i><a href="tel:+254712345678">+502  42474123</a></p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:blog@elidiaz.com">blog@elidiaz.com</a></p>
	</div>
</section>
<!-- end widget -->