<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacts</h5></span>
	<div class="cp-contacts">
		<p>Busco inspirar a otros para descubrir ¿hasta dónde podemos llegar?.</p>
		<p class="sidebar-phone"><i class="fa fa-phone"></i><a href="tel:+254712345678">+502  42474123</a></p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:hey@elidiaz.com">hey@elidiaz.com</a></p>
	</div>
</section>
<!-- end widget -->