<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Your Host</h5></span>
	<div class="cp-contacts">
		<p>
			Humble and always open to learning.
			 <br>
			 <br>
			Eli Diaz is an enterprise-level solution digital consultant working in the research and development industry. 
			 <br>
			 <br>
			More about me in my <a class="home_link" target="_blank" href="/about">biography</a> and my <a class="home_link" target="_blank" href="/portfolio">portfolio</a> work.
		</p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:blog@elidiaz.com">blog@elidiaz.com</a></p>

{{!-- <p class="sidebar-phone"><i class="fa fa-skype"></i><a href="tel:+254712345678">eli@elidiaz.com</a></p> --}}

		{{!-- <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script> --}}
		{{!-- <div id="SkypeButton_Call_live:eli_4828_1">
				<script type="text/javascript">
				Skype.ui({
				"name": "call",
				"element": "SkypeButton_Call_live:eli_4828_1",
				"participants": ["live:eli_4828"],
				"imageSize": 32
				});
				</script> --}}

				<!-- Principio del widget integrado de Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/elidiazgt" style="min-width:320px;height:580px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Final del widget integrado de Calendly -->
		</div>

		
	</div>
</section>
<!-- end widget -->