#header{
  background:none !important;
}
.top-bar{
  background-color: rgba(0, 0, 0, 0.6) !important;
  max-height: 60px !important;
}
.top-bar a:hover{
  color: #fff !important;
  background-color: #a72c33 !important;
    padding-left: 5px;
    padding-right: 5px;
}
#main-archive{
    background: #F9F9F9 !important;
}
#site-url{
  font-size: 3rem !important;
}
.links li{
  display: inline-flex !important;
  margin-left: 5px;
}
#blog-description{
  margin-left: 20px !important;
}
.post-template #header .blog-content{
  padding:0;
}
.post-template #header .blog-content .blog-description{
  display:block;
}
/* Slider images*/
#slider_box1{
  background-image :url(http://photo.foter.com/photos/23/and-my-heart-will-go-on-and-on.jpg);
}
#slider_box2{
  background-image :url(http://photo.foter.com/photos/22/determination-2.jpg);
}
#slider_box3{
  background-image :url(https://farm5.staticflickr.com/4100/4854554338_0d182cc07c_b.jpg);
}
