#header{
  background-color: #343434 !important;
  
}
#header a:hover{
  color: #fff !important;
  background-color: #a72c33 !important;
}
#site-url{
  font-size: 3rem;
}
.links li{
  display: inline-flex !important;
}

