{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> "nav" }}

{{! The big featured header }}
<header id="page-header" class="blog-cover animated fadeIn" {{#if @blog.cover}}data-stellar-background-ratio="0.5" style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="container" data-stellar-ratio="0.75">
        <h1 class="blog-title">{{tag.name}}</h1>
        <h2 class="animated fadeIn blog-description">A {{pagination.total}}-post collection</h2>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="main container" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>