<header id="page-header" class="blog-cover animated fadeIn" {{#if @blog.cover}}data-stellar-background-ratio="0.5" style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="container" data-stellar-ratio="0.75">
        <h1 class="blog-title">{{@blog.title}}</h1>
        <h2 class="animated fadeIn blog-description">{{@blog.description}}</h2>
    </div>
</header>