<section class="colophon">
  <div class="column ">
    Temas
    <ul>
      <li><a href="/tag/lenguaje">Lenguaje</a> </li>
      <li><a href="/tag/negocios">Negocios</a></li>
      <li><a href="/tag/filosofia">Filosofia</a>  </li>
      <li><a href="/tag/liderazgo">Liderazgo</a></li>
      <li><a href="/tag/marketing">Marketing</a>  </li>
      <li><a href="/tag/motivacion">Motivacion</a>  </li>
      <li><a href="/tag/competencia">Competencia</a></li>
      <li><a href="/tag/presentacion">Presentacion</a>  </li>
      <li><a href="/tag/emprendimiento">Emprendimiento</a></li>
    </div>
    <div class="column ">
      Tecnologia
      <ul>
        
        <li><a href="/tag/data">Data</a></li>
        <li><a href="/tag/ux-ui">Ux-Ui</a></li>
        <li><a href="/tag/agile">Agile</a>  </li>
        <li><a href="/tag/server">Server</a>  </li>
        <li><a href="/tag/virtual">Virtual</a>  </li>
        <li><a href="/tag/product">Product</a>  </li>
        <li><a href="/tag/browser">Browser</a> </li>
        
        <li><a href="/tag/software">Software</a></li>
        <li><a href="/tag/development">Development</a></li>
      </div>

      <div class="column ">
      <form id="mc-embedded-subscribe-form"
            action="//elidiaz.us11.list-manage.com/subscribe/post?u=338cfd237d2d246aa1166e0e1&amp;id=5663b9d3ff"
            method="post" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <input name="b_f83ef4737eb64377dc769dea2_82d69d0297"
                     type="text" tabindex="-1" value="" style="display:none">


          <input id="mce-EMAIL"
                type="email" value="" name="EMAIL" class="email"
                placeholder="Ingresa tu Correo electronico" required>

          <input id="mc-embedded-subscribe"
                  type="submit" value="Suscribete a la lista de correo "
                  name="subscribe"  class="button">
      </form>
    </div>
  </section>

  <section class="bottom">
    <section class="attribution">
      <section class="copyright">Copyright &copy;
        <span itemprop="copyrightHolder">{{@blog.title}}</span>.
         <span rel="license">All Rights Reserved</span>.</section>

    </section>

  </section>
