
<section id='navigation' class="blog-content animated fadeIn top-bar">
  <!-- <div class="stars">
    <i class="fa fa-star-o fa-1"></i>
    <i class="fa fa-star-o fa-1"></i>
    <i class="fa fa-star-o fa-1"></i>
  </div> -->
  <a id="site-url" class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
  <!-- <div class="stars">
    <i class="fa fa-star-o fa-1"></i>
    <i class="fa fa-star-o fa-1"></i>
    <i class="fa fa-star-o fa-1"></i>
  </div> -->
  <span class="blog-description">{{@blog.description}}</span>
  {{> links}}
</section>
