<nav class="links fadeIn animated">
    <ul>
      <li class="facebook"><span class='st_fbsub_large' displayText='Facebook Subscribe'></span></li>
      <li class="twitter"><a title="Twitter" href="http://twitter.com/modaysexo"><i class="fa fa-fw fa-twitter"></i></a></li>
      <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
    </ul>
</nav>
