
<div class='vcard_container'>
<div class="center">
<div class="circular"></div>
</div>
  <div class='vcard_text'>
     Hi, I'm @elidiazgt.<!--I make <a href='http://ciclo.uno'>ciclo.uno</a>,
    <a href="http://politica.global">politica.global</a> and
    <a href='http://futureimposible.com'>futureimposible.org</a>-->.
    I am a present-focused person, builder of dream tools,
    identified as the man of intense questions.
    
   <!-- Hola, Soy @elidiazgt y estoy satisfecho con ser diferente, busco encontrar la mejor versión de mi persona, ser auténtico e inspirar a otros para descubrir ¿hasta dónde podemos llegar?-->
  </div>
</div>
