
<div class='vcard_container'>
<div class="center">
<div class="circular"></div>
</div>
  <div class='vcard_text'>
      
   Escribo ideas para crear impetu, busco mi mejor version reinventandome continuamente e inspirando a otros para descubrir ¿hasta dónde podemos llegar?

<!--Tengo un <a href='http://ciclo.uno'>laboratorio</a> y un videoblog-->


    
   <div class="fb-follow" data-href="https://www.facebook.com/Eli-Diaz-1629161677345603/?ref=hl" data-layout="button" data-show-faces="true"></div>
   
  </div>
</div>
